.navbar__header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: rgb(0, 108, 185);
    color: white;
}

.header__list {
    display: flex;
    list-style-type: none;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 0.5%;
}

.navbar__header__left {
    display: flex;
    justify-content: space-between;
    width: 9%;
}

.navbar__header__menuButton {
    all: unset;
    cursor: pointer;
    outline: revert;
}

.navbar__header__center {
    display: flex;
    width: 50%;
    align-items: center;
    text-align: left;
}


.navbar__header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 40px;
}

.navbar__link {
    color: white;
}

.navbar__link:hover {
    text-decoration: underline;
}

/*  */

.search {
    display: flex;
    align-items: center;
    background-color:#ffffff;
    border:solid 1px;
    border-radius:5px;
    height: 40px;
    width: 80%;
}

.search__form {
    display: flex;
    width: 100%;
    align-items: center;
}

.search__button {
    height: 40px;
    width: 15%;
    border: none;
    outline: none;
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em
}

.busca__button:hover {
    fill: rgb(0, 108, 185);;
}

.search__icon {
    height: 15px;
}

.categoriesSelect {
    height: 40px;
    width: auto;
    border: 0;
    font-size: medium;
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em
}

.search__input {
    border: 0;
    height: 40px;
    width: 85%;
    box-shadow: 0 0 0 0;
    outline: 0;
    font-size: medium;
}



.header-direita {
    display: flex;
    justify-items: right;
    align-items: center;
}

/* Style lista de categorias */

.header__categories {
    text-align: center;
    margin-top: 60px;
    padding: 3%;
    padding-top: 0;
    padding-bottom: 0%;
    list-style-type: none;
}

.header__list--categories {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 1%;
}

.header__categories__icon {
    max-width: 30px;
    fill: grey;
    transition: fill 0.3s;
}

.header__categories__icon:hover {
    fill: black;
}

.header__categories__item {
    display: block;
    padding: 1%;
    color: grey;
    font-weight: bold;
}

.header__categories__item:hover {
    color: black;
}

.cart {
    text-align: left;
    height: 70px;
}
