.carouselProducts {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carouselProducts__title {
    text-align: center;
    font-size: medium;
}

.carouselProducts__cards {
    display: flex;
    justify-content: space-between;
    margin: 2%;
    margin-top: -2%;
    padding: 3%;
}

/* Card individual */

.carouselProducts__card {
    width: 23%;
    height: 500px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(201, 201, 201);
    border-radius: 4px;
    overflow: hidden;
    padding: 1%;
}

.carouselProducts__card__localImage {
    width: 100%;
    height: 60%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carouselProducts__image {
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
}

.carouselProducts__productTitle {
    height: 15%;
}

.carouselProducts__productsData {
    flex: 1; /* Ocupa todo o espaço disponível na div */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.carouselProducts__infos {
    align-items:last baseline;
    text-align: left;
    margin: 2px;
}

.carouselProducts__manufacturerLink {
    color: blue;
}

.carouselProducts__manufacturerLink:hover {
    text-decoration: underline;
}

.carouselProducts__infos--sell {
    font-weight: bold;
    font-size: medium;
    color: rgb(175, 12, 12);
}

.carouselProducts__infos--price {
    color: grey;
    text-decoration: line-through;
}

.available {
    color: green;
    font-weight: bold;
}

.unavailable {
    color: red;
    font-weight: bold;
}