.navbar__header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: rgb(0, 108, 185);
    color: white;
}

.header__lista {
    display: flex;
    list-style-type: none;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 0.5%;
}

.header__lista--categorias {
    display: flex;
    list-style-type: none;
    text-align: center;
}

.navbar__header__esquerda {
    width: 20%;
}

.navbar__header__centro {
    display: flex;
    width: 50%;
    align-items: center;
    text-align: left;
}


.navbar__header__direita {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 40px;
}

.navbar__link {
    color: white;
}

.navbar__link:hover {
    text-decoration: underline;
}

.busca {
    align-items: center;
    margin-left: 7%;
    background-color:#ffffff;
    border:solid 1px;
    border-radius:5px;
    height: 30px;
    width: 550px;
}

.buttonBusca {
    height: 100%;
}

.categoriaSelect {
    height: 30px;
    width: auto;
    border: 0;
}

.pesquisa {
    border: 0;
    height: 100%;
    width: 90%;
    box-shadow: 0 0 0 0;
    outline: 0;
}

.header-direita {
    display: flex;
    justify-items: right;
    align-items: center;
}

.header__categorias {
    margin-top: 50px;
    padding: 1%;
    list-style-type: none;
    justify-content: space-between;
}

.header__categorias__item {
    padding: 1%;
}

.carrinho {
    text-align: left;
    height: 70px;
}
