.carouselCategories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.carouselCategories__text {
    text-align: center;
    font-size: medium;
}

.carouselCategories__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
    padding: 3%;
    background-color: rgb(231, 231, 231);
}

.carouselCategories__card {
    background-color: white;
    align-items: center;
    width: 18%;
}

